html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e2d9f3;
}

.bd-purple-300 {
    color: #000;
    background-color: #a98eda;
}

.bd-purple-200 {
    color: #000;
    background-color: #c5b3e6;
}

.bd-purple-100 {
    color: #000;
    background-color: #e2d9f3;
}

.myrounded {
    border-radius: 20px;
}

.custom-container {
    text-align: right;
}

.custom-text {
    margin-right: 0;
}